#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.brew-list {
  background: rgba(232, 230, 229, 0.8);
  max-height: 85.5vh;
  overflow-y: auto;
  z-index: 1;
  position: relative;
}

.brew-total {
  background: rgba(232, 230, 229, 0.8);
  color: #7b0400;
  margin-left: 7%;
  padding: 2.5% 0 2.5% 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar {
  background: #7b0400;
  z-index: 100;
  border: 0;
  box-shadow: 0 1px 8px 1px #948a89;
}

.navbar-header {
  padding-bottom: 1%;
  background: #b62f03;
  color: #fbfbfb;
}

.navbar-left {
  padding-top: 6px;
}

.subtitle {
  color: #e8e6e5;
  text-align: right;
}

.subtitle h4 {
  letter-spacing: 0;
  font-weight: 800;
  color: #2e1c18;
}

.search-results {
  margin-top: 10vh;
}

.brew-info-card {
  margin-top: 70vh;
  margin-bottom: 10vh;
}

.brewery-description h2 {
  color: #584946;
}

.short-description {
  padding-left: 7%;
  padding-right: 7%;
}

.brewery-beers {
  max-height: 85.5vh;
  overflow-y: auto;
}

.btn {
  float: right;
  width: 20%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  background: #b62f03;
  color: #fbfbfb;
  margin-left: 10px;
  border: 2px solid #cdcdcd;
}

.btn:hover, .btn:active {
  background: #fbfbfb;
  color: #b62f03;
}

body{
  background: #e8e6e5;
  color: #2e1c18;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(173, 72, 52, 0.8);
}

h2,h3,h4,h5,h6,p,a {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #584946;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #7b0400;
}

a:hover, a:active {
  color: #b62f03;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Neuton', serif;
  font-weight: 800;
  font-size: 3.5em;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: 800;
}

h4 {
  letter-spacing: 0.07em;
}

h5 {
  font-weight: 700;
  color: #584946;
  margin-top: 3px;
}

h6 {
  font-weight: 400;
  color: #cdcdcd;
  letter-spacing: 0.1em;
  margin-top: 15%;
}

input, select {
  font-family: 'Open Sans', sans-serif;
  margin-right: 20px;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  color: #cdcdcd;
}

/*.thing {
  width: 100%;
  position: absolute;
  top: 40%;
  -webkit-transition: position 2s, top 2s, -webkit-transform 2s;
  -moz-transition: position 2s, top 2s, -moz-transform 2s;
  -o-transition: position 2s, top 2s, -o-transform 2s;
  transition: position 2s, top 2s, transform 2s;
}

.thing:hover {
  position: absolute;
  top: 0;
  -webkit-transform: translate();
  -moz-transition: translate();
  -o-transition: translate();
  transform: translate();
}*/
